<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
    </head>

    <body>

        <header>
            <div class="">
                Sentiment.AI <span class="minimize">powered by MeaningCloud.</span>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return QQlator.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Text or URL to analyze">
                    <div class="radio-grid">
                        <div class="left-radio radio-choice">
                            <input type="radio" id="radioText" name="typeOfText" value="text" checked>
                            <label for="radioText">Text</label>
                        </div>
                        <div class="right-radio radio-choice">
                            <input type="radio" id="radioURL" name="typeOfText" value="url">
                            <label for="radioURL">URL</label>
                        </div>
                    </div>
                    <input type="submit" name="" value="Launch analysis" onclick="return QQlator.handleSubmit(event)" onsubmit="return QQlator.handleSubmit(event)">
                </form>
            </section>
            <section>
                <span class='section-title'><u><strong>Results of the sentiment analysis provided by MeaningCloud:</strong></u></span>
                <div id="results" class="result-container"></div>
            </section>
        </main>

        <footer>
            <p>Made with love in Paris!</p>
        </footer>

        <script>

            if('serviceWorker' in navigator){
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                });
            }

        </script>

    </body>
</html>
